@page
@model EbikeCommerce.Pages.MfaModel
@{
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card bg-dark text-white shadow">
                <div class="card-body">

                    <form method="post" asp-page-handler="Verify">
                        <div class="mb-3">
                            <label asp-for="Code" class="control-label">Code</label>
                            <input asp-for="Code" class="form-control" />

                            <label asp-for="Username" class="control-label" hidden></label>
                            <input asp-for="Username" class="form-control" hidden />

                            <label asp-for="GoToCat" class="control-label" hidden></label>
                            <input asp-for="GoToCat" class="form-control" hidden />
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>

                    <p class="text-warning">@Model.Message</p>
                </div>
            </div>
        </div>
    </div>
</div>